#MEImeta {
  margin-top: 30px; 
  margin-left: 30px;
} 

#songtitle {
  font-family: CURSIVE;
  font-weight: bold;
  font-size: 30px;
  display: block;
}

mei-resp {
  display: none; 
}

mei-name::before{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Encoded by: ";
  white-space: pre;
  margin-bottom: 20px; 
} 

mei-name {
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-bottom: 20px; 
}

#edtitle::before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Source of Transcription: ";
  white-space: pre;
  display: block; 
}

#edtitle {
  font-family: "Times New Roman", Times, serif;
  display: block;
}

mei-info:before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Purpose: ";
  white-space: pre;
}

mei-info {
  font-family: "Times New Roman", Times, serif;
  display: block;
}

mei-arranger:before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Arranger: ";
  white-space: pre;
}

mei-arranger {
  font-family: "Times New Roman", Times, serif;
  display: block;
}

mei-editionsite::before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Published on: ";
  margin-bottom: 20px; 
}

mei-editionsite {
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-bottom: 20px; 
}

mei-publisher {
  display: none; 
}

mei-location::before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Location: ";
}

mei-location {
  font-family: "Times New Roman", Times, serif;
  display: block;
}

mei-date::before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Date: ";
  margin-bottom: 20px; 
}

mei-date {
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-bottom: 20px; 
}

mei-restriction {
  display: none; 
}

mei-copyrightstmt {
  font-family: "Times New Roman", Times, serif;
  font-style: italic; 
  margin: 0px 50px 0px 0px;
}

mei-encodingdesc {
  display: none; 
}

mei-projectdesc {
  display: none; 
}
