mei-title#songtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 23pt;
  font-weight: bold; 
  display: block;
}

mei-title#album {
  font-family: "Times New Roman", Times, serif;
  display: block;
}

mei-title#album::before {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  content: "Album: ";
  white-space: pre;
}
